$title-color: #FC773A;

$space-large: 2.5rem;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
  border-bottom: 1px solid $title-color;
}

input[type=search] {
  box-shadow: none;
}
